<p class="title">课题活动</p>
<table class="input-table browse-table" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>主题</td>
        <td>$!activity.theme</td>
    </tr>
    <tr>
        <td>作者(来源)</td>
        <td>$!activity.author</td>
    </tr>
    <tr>
        <td>发布时间</td>
        <td>$!dateTool.format('yyyy年MM月dd日',$!activity.date)</td>
    </tr>
    <tr>
        <td>内容</td>
        <td>$!activity.content</td>
    </tr>
</table>
<!--<p>$!activity.theme</p>-->
<!--<p>作者(来源)：$!activity.author</p>-->
<!--<p>发布时间：$!dateTool.format('yyyy年MM月dd日',$!activity.date)</p>-->
<!--<p>内容：$!activity.content</p>-->