<p class="title">$!user.realname的信息</p>
<table class="input-table" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>账号：</td>
        <td>$!user.uname</td>
    </tr>
    <tr>
        <td>姓名：</td>
        <td>$!user.realname</td>
    </tr>
    <tr>
        <td>性别：</td>
        <td>$!user.gender.desc</td>
    </tr>
    <tr>
        <td>民族：</td>
        <td>$!user.ethnic</td>
    </tr>
    <tr>
        <td>单位：</td>
        <td>$!user.unit.name</td>
    </tr>
    <tr>
        <td>出生日期：</td>
        <td>$!dateTool.format('yyyy年MM月dd日',$!user.birthday)</td>
    </tr>
    <tr>
        <td>职务：</td>
        <td>$!user.position</td>
    </tr>
    <tr>
        <td>职称：</td>
        <td>$!user.professionalTitle</td>
    </tr>
    <tr>
        <td>电子邮件：</td>
        <td>$!user.email</td>
    </tr>
    <tr>
        <td>手机号码：</td>
        <td>$!user.phone</td>
    </tr>
    <tr>
        <td>固定电话：</td>
        <td>$!user.telephone</td>
    </tr>
    <tr>
        <td>传真：</td>
        <td>$!user.fax</td>
    </tr>
    <tr>
        <td>学历：</td>
        <td>$!user.education</td>
    </tr>
    <tr>
        <td>学位：</td>
        <td>$!user.degree</td>
    </tr>
    <tr>
        <td>专业：</td>
        <td>$!user.profession</td>
    </tr>
    <tr>
        <td>邮政编码：</td>
        <td>$!user.postcode</td>
    </tr>
    <tr>
        <td>通讯地址：</td>
        <td>$!user.address</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a class="btn btn-cancel" onclick="history.go(-1);">返回</a>
        </td>
    </tr>
</table>