#parse('/subject/show/menu_include.html')
<p class="title">完成项目的可行性</p>
<table border="0" cellspacing="0" cellpadding="0" style="margin: 20px;">
    <tr class="input-box">
        <td>（一）本课题负责人已取得的相关研究成果及社会评价（引用、转载、获奖及被采纳情况），主要参考文献（限填10限）。</td>
    </tr>
    <tr class="input-box">
        <td>$!feasibility.achievement</td>
    </tr>
    <tr class="input-box">
        <td>（二）课题组主要成员的主要研究经历、研究成果情况及研究分工。</td>
    </tr>
    <tr class="input-box">
        <td>$!feasibility.task</td>
    </tr>
    <tr class="input-box">
        <td>（三）完成本课题的保障条件（如研究资料、实验仪器设备、配套经费、研究时间及所在单位条件等）。</td>
    </tr>
    <tr class="input-box">
        <td>$!feasibility.requirement</td>
    </tr>
</table>