<div class="menu">
    <a data-url="/subject/$!subjectId/show/main" onclick="openPage(this)">基本情况</a>
    <a data-url="/subject/$!subjectId/show/recommender" onclick="openPage(this)">推荐人意见</a>
    <a data-url="/subject/$!subjectId/show/approval" onclick="openPage(this)">审批意见</a>
    <a data-url="/subject/$!subjectId/show/proof" onclick="openPage(this)">课题设计论证</a>
    <a data-url="/subject/$!subjectId/show/feasibility" onclick="openPage(this)">完成项目的可行性</a>
    <a data-url="/subject/$!subjectId/show/schedule" onclick="openPage(this)">研究工作进度和预期研究成果</a>
    <a data-url="/subject/$!subjectId/show/fund" onclick="openPage(this)">经费预算</a>
</div>